{% extends "base.html" %}
img{
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
}
{% block style %}

    .imageN {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    }
{% endblock %}


{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote" style="height: 30px;">
            <div class="layui-col-md10" style="height: 30px;">
                <h1>WEB APP</h1>
            </div>
            <div class="layui-col-md2">
                <button type="button" id="refreshAction"
                        class="layui-btn layui-btn-danger layui-btn-primary layui-btn-sm" style="width:100px;">刷新
                </button>
            </div>
        </blockquote>

        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-col-md12 ">
                        <div class="layui-tab-item layui-show" style="">
                            <h1>Mask</h1>
                            <h3 id="image1Time">Time:{{ data.image1.t }}</h3>
                            <h3 id="image1Num">Number of People:{{ data.image1.num }}</h3>
                            <h3 id="image1Nom">Number of people without masks:{{ data.image1.nom }}</h3>
                        </div>
                        <img id="image1" src="/medias/1/{{ data.image1.f }}" class="imageN">
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-tab-item layui-show">
                        <h1>Crowded Space</h1>

                    </div>
                    <div class="layui-col-md12 ">
                        <img id="image2" src="/medias/2/{{ data.image2.f }}" class="imageN">
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-tab-item layui-show">
                        <h1>Social Distance</h1>
                    </div>
                    <div class="layui-col-md12 ">
                        <img id="image3" src="/medias/3/{{ data.image3.f }}" class="imageN">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        layui.use('layer', function () {
            var $ = layui.jquery;

            $('#refreshAction').on('click', function () {
                $.ajax({
                    url: "/refresh/",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        $("#image1").attr('src', "/medias/1/" + data.image1.f);
                        $("#image2").attr('src', "/medias/2/" + data.image2.f);
                        $("#image3").attr('src', "/medias/3/" + data.image3.f);
                    },
                    error: function (data) {

                    }
                });
            });
        });
    </script>
{% endblock %}